.contact-us-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .form-container {
    flex: 1;
    padding: 20px;
  }
  
  .contact-details {
    flex: 1;
    padding: 20px;
  }
  