*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--primary-fw);
    font-size: var(--primary-fs);
}
.menu{
    display: none;
}
.sideNav{
    display: none;
}
.nav{
    /* position: fixed; */
    width: 100%;
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 15px 7%;
    height: 100px;
    /* padding-bottom: 25px; */
    text-align: center;
    background: linear-gradient(to right, white,hsl(0, 0%, 100%), hsl(167, 60%, 58%),hsl(194, 91%, 56%), hsl(249, 48%, 63%));
}

.logo{
    width: 160px;
    cursor: pointer;
    background-color: inherit;
}

.nav li{
    display: inline-block;
    margin: 10px 20px;
    /* font-size:25px; */
    cursor: pointer;
}
.nav ul{
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
}

.nav li.active{
    color: white;
}

.nav li:hover{
    color: white;
}

@media (max-width: 1024px) {
    .sideNav {
        display: block;
    }
    .nav li{
        display: none;
    }
    .social-links{
        display: none;
    }
    .nav{
        background: linear-gradient(to right, white,hsl(0, 0%, 100%), hsl(167, 65%, 83%),hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    }

    
    .menuimg{
        display: flex;
        width: 30px;
        height: 30px;
        margin-left: 400px;
    }
    
    .sideNav{
        width: 250px;
        height: 100vh;
        position: fixed;
        border-radius: 10px;
        left: 630px;
        top: 80px;
        background: linear-gradient(to right,white,rgb(112, 202, 235),hsl(194, 91%, 74%));
        z-index: 1;
        transition: 0.5s; 
    } 
     nav ul li{
        list-style: none;
        display: block;
        margin: 40px 20px;
        top: 70px;
        position: relative;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }
    nav ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.5s;
    }
    nav ul li:hover:after{
        width: 100%;
    } 
    /* .menuBtn{
        width: 20px;
        height: 20px;
        background: #009688;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }
    .menuBtn img{
        width: 20px;
        margin-top: 15px;
    } */
    
}