


.WhoweareSection{
    display: flex;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--primary-fw);
    font-size: var(--primary-fs);
    place-items: center;
    background-color: var(--neutral-very-light-grayish-blue);
    background-image: url("../images/bg-top.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 375px 658px;
    z-index: 99;
   
   
}

.WhoweareSection::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 353px;
    width: 100%;
    height: 304px;
    background-image: url("../images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    
  }

  .heading{
    font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: 30px;
  }
.text{
    padding: 5em;
    border-radius: 1em;
    text-align: center;
    color: var(--neutral-dark-grayish-blue);
    background-color: var(--neutral-white);
    /* width: min(100%, 30rem); */
    background-image: linear-gradient(rgb(255, 255, 255),rgb(125, 216, 219),rgb(138, 219, 185),rgb(124, 221, 216));
}

.techimg{
    
    border-radius: 70px;
    padding: 20px;
    padding-bottom: 1px;
    block-size: 420px;
    display: flex;
    
}
.scrolltext{
    
    font-family:Rene Bieder;
    color:black;
    margin-bottom:-10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0p;
   
}
.scrolIcon{
    max-width:50px;
    object-fit:cover;
    display:block;
    margin:auto;
}