.Panel{
    display: flex;
    height: 490px; 
    /* padding: 5px; */
    /* justify-content: space-evenly; */
    gap: 2rem;
    /* background-image: linear-gradient(rgb(255, 255, 255),rgb(125, 216, 219),rgb(138, 219, 185),rgb(124, 221, 216)); */

}


  .heading{
   
    font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: 30px;
  margin-left: 3%;
  }
.text{
    width: 300px;
    font-size: 2vh;
    letter-spacing: 1px;
    line-height: 4vh;
    justify-content: center;
     padding: 10px;
     margin-top: 100px;
    /* border-radius: 1em; */
    text-align: center; 
    color: var(--neutral-dark-grayish-blue);
    background-color: var(--neutral-white);
    /* width: min(100%, 30rem); */
   

}

.text p{
    margin-top: 20px;
}
.image-whoweare{
    width: 50%;
}
.techimg{
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    height: 90%;
    border-radius: 30px;
    
    
}
.scrolltext{
    
    /* font-family:Rene Bieder;
    color:black;
    margin-bottom:-10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0p; */
   
}
.scrolIcon{
    /* max-width:50px;
    object-fit:cover;
    display:block;
    margin:auto; */
}